.hua-calendar{
    display: inline-block;
    position: relative;
    outline: none;
    width: 252px;
    list-style: none;
    font-size: 12px;
    text-align: left;
    background-color: #fff;
    border-radius: 3px;
    background-clip: padding-box;
    line-height: 1.5;
    box-sizing: border-box;
    box-shadow: 0 1px 5px #ccc;
    table, td, th{
        border: none;
    }
}
.hua-calendar-panel{
    position: relative;
    outline: none;
}
.hua-calendar-input-wrap{
    position: relative;
    padding: 6px;
    border-bottom: 1px solid #e9e9e9;
}
.hua-calendar-clear-btn{
    position: absolute;
    z-index: 999;
    right: 6px;
    cursor: pointer;
    overflow: hidden;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    top: 6px;
    margin: 0;
}
.hua-calendar-clear-btn::after{
    content: 'x';
    font-size: 12px;
    color: #aaa;
    display: inline-block;
    line-height: 1;
    width: 20px;
    transition: color 0.3s ease;
}
.hua-calendar-input{
    border: 1px solid transparent;
    width: 100%;
    color: #666;
    cursor: text;
    line-height: 1.5;
    outline: 0;
    height: 22px;
}
.hua-calendar-header{
    padding: 0 10px;
    height: 34px;
    line-height: 30px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    border-bottom: 1px solid #ccc;
}
/* 头部箭头 */
.hua-calendar-prev-year-btn,
.hua-calendar-prev-month-btn,
.hua-calendar-next-month-btn,
.hua-calendar-next-year-btn{
    position: absolute;
    top: 0;
    cursor: pointer;
    color: #999;
    font-family: Arial, "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Sans Serif", sans-serif;
    padding: 0 5px;
    font-size: 16px;
    display: inline-block;
    line-height: 34px;
}
.hua-calendar-prev-year-btn{
    left: 0;
}
.hua-calendar-prev-year-btn::after{
    content: '\AB';
}

.hua-calendar-prev-month-btn{
    left: 25px;
}
.hua-calendar-prev-month-btn::after{
    content: '\2039';
}
.hua-calendar-next-month-btn{
    right: 25px;
}
.hua-calendar-next-month-btn::after{
    content: '\203A';
}
.hua-calendar-next-year-btn{
    right: 0;
}
.hua-calendar-next-year-btn::after{
    content: '\BB';
}

/* 头部展示选中的月-年 */
.hua-calendar-month-select,
.hua-calendar-year-select{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    padding: 0 8px;
    line-height: 34px;
    cursor: pointer;
    &:hover{
        color: #23c0fa;
    }
}

/* 日期 */
.hua-calendar-body{
    padding: 10px 10px;
    table{
        border-collapse: collapse;
        max-width: 100%;
        background-color: transparent;
        width: 100%;
    }
}
.hua-calendar-column-header{
    line-height: 18px;
    padding: 6px 0;
    width: 33px;
    text-align: center;
}
.hua-calendar-date{
    display: block;
    margin: 0 auto;
    color: #666;
    border-radius: 4px;
    // width: 26px;
    height: 26px;
    padding: 0;
    background: transparent;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    &.prevMonth, &.nextMonth{
        color: #bbb;
    }
    &.isToday{
        border: 1px solid #307ef2 !important;
    }
    &:hover{
        background-color: #ebfaff;
        &.nextMonth, &.prevMonth{
            background-color: initial;
        }
    }
    
    &.disabled{
        color: #c0ccda;
        background: none;
        cursor: not-allowed;
        border-radius: 0;
    }
    &.selected{
        background: #007aff;
        color: #fff;
    }
    &.is-in-range{
        background: rgba(85, 159, 240, 0.18);
        border-radius: unset;
        color: #475669;
        &.nextMonth, &.prevMonth{
            background: initial;
            color: #bbb;
        }
    }

    &.hua-calendar-selected-start-date,
    &.hua-calendar-selected-end-date{
        background: #007aff;
        color: #fff;
        border-radius: 4px;
        &.nextMonth{
            background: initial;
            color: #bbb;
        }
        &.prevMonth{
            background: initial;
            color: #bbb;
        }
    }
}
