.hua-calendar{
    display: inline-block;
    position: relative;
    outline: none;
    width: 252px;
    list-style: none;
    font-size: 12px;
    text-align: left;
    background-color: #fff;
    border-radius: 3px;
    background-clip: padding-box;
    line-height: 1.5;
    box-sizing: border-box;
}